/* third party user will change the tokens here which are mapped to shadcn/ui colors,
here it is containing all the eka token colors */

/* primitive */
/* Mode: patient-light */
.patient-light {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #ededed;
  --color-neutral-400: #d1d1d1;
  --color-neutral-500: #a8a8a8;
  --color-neutral-600: #767676;
  --color-neutral-700: #595959;
  --color-neutral-800: #383838;
  --color-neutral-900: #1a1a1a;
  --color-primary-100: #e4e1fa;
  --color-primary-500: #6b5ce0;
  --color-primary-700: #271b7e;
  --color-danger-100: #ffeaeb;
  --color-danger-500: #d92d20;
  --color-danger-700: #b42318;
  --color-warning-100: #fffaeb;
  --color-warning-500: #f79009;
  --color-warning-700: #b54708;
  --color-success-100: #ecfdf3;
  --color-success-500: #039855;
  --color-success-700: #027a48;
  --color-info-100: #f0f9ff;
  --color-info-500: #026aa2;
  --color-info-700: #025582;
}

/* Mode: doctor-light */
.doctor-light {
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #ededed;
  --color-neutral-400: #d1d1d1;
  --color-neutral-500: #a8a8a8;
  --color-neutral-600: #767676;
  --color-neutral-700: #595959;
  --color-neutral-800: #383838;
  --color-neutral-900: #1a1a1a;
  --color-primary-100: #e9efff;
  --color-primary-200: #d3dfff;
  --color-primary-300: #a6bfff;
  --color-primary-400: #7a9fff;
  --color-primary-500: #215fff;
  --color-primary-600: #1d52e6;
  --color-primary-700: #1a4ccc;
  --color-primary-800: #143999;
  --color-primary-900: #102c7a;
  --color-primary-1000: #102c7a;
  --color-primary-1200: #102c7a;
  --color-primary-1100: #102c7a;
  --color-primary-1400: #102c7a;
  --color-primary-1300: #102c7a;
  --color-primary-1500: #102c7a;
  --color-primary-1600: #102c7a;
  --color-danger-100: #ffeaeb;
  --color-danger-200: #ffc9cc;
  --color-danger-300: #fda29b;
  --color-danger-400: #f56d62;
  --color-danger-500: #d92d20;
  --color-danger-600: #c7281c;
  --color-danger-700: #b42318;
  --color-danger-800: #b42318;
  --color-danger-900: #7a2e0e;
  --color-warning-100: #fffaeb;
  --color-warning-200: #ffeac2;
  --color-warning-300: #fec94b;
  --color-warning-400: #f9ac2a;
  --color-warning-500: #f79009;
  --color-warning-600: #d66d08;
  --color-warning-700: #b54708;
  --color-warning-800: #973808;
  --color-warning-900: #7a2e0e;
  --color-success-100: #ecfdf3;
  --color-success-200: #baf2cd;
  --color-success-300: #6ce9a6;
  --color-success-400: #38bc80;
  --color-success-500: #039855;
  --color-success-600: #02894e;
  --color-success-700: #027a48;
  --color-success-800: #04653d;
  --color-success-900: #054f31;
  --color-info-100: #f0f9ff;
  --typography-font-display: 'Playfair Display';
  --color-info-200: #b8e2ff;
  --color-info-300: #84caff;
  --color-info-400: #4399d4;
  --typography-font-body: 'Inter';
  --color-info-500: #026aa2;
  --color-info-600: #026292;
  --typography-tracking-negative-l: -0.25px;
  --typography-tracking-s: 0.10000000149011612px;
  --typography-weight-italics: 'Italics';
  --typography-weight-regular: 'Regular';
  --typography-size-xxxs: 8px;
  --typography-size-xxs: 12px;
  --typography-size-xs: 12px;
  --typography-size-s: 14px;
  --typography-size-m: 16px;
  --typography-size-l: 18px;
  --typography-size-xl: 20px;
  --typography-size-xxl: 24px;
  --typography-size-xxxl: 28px;
  --typography-size-huge: 32px;
  --typography-size-xhuge: 40px;
  --typography-size-xxhuge: 48px;
  --typography-size-xxxhuge: 56px;
  --typography-weight-medium: 'Medium';
  --typography-weight-semibold: 'SemiBold';
  --color-info-700: #025582;
  --color-info-800: #014269;
  --color-info-900: #013050;
  --spacing-xxxs: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-m: 10px;
  --spacing-l: 12px;
  --spacing-xl: 16px;
  --spacing-xxl: 24px;
  --spacing-xxxl: 32px;
  --spacing-huge: 40px;
  --spacing-xhuge: 48px;
  --spacing-xxhuge: 56px;
  --spacing-xxxhuge: 64px;
  --sizing-xs: 16px;
  --sizing-s: 24px;
  --sizing-m: 32px;
  --sizing-l: 44px;
  --border-radius-xxxs: 4px;
  --border-radius-xxs: 8px;
  --border-radius-xs: 12px;
  --border-radius-s: 16px;
  --border-radius-m: 16px;
  --border-radius-l: 16px;
  --border-radius-xl: 16px;
  --border-radius-xxl: 16px;
  --border-radius-xxxl: 16px;
  --border-radius-pill: 9999px;
  --border-width-s: 1px;
  --border-width-m: 2px;
  --color-red-100: #fee4e2;
  --color-red-200: #fad3d1;
  --color-red-300: #fecdca;
  --color-red-400: #f58a82;
  --color-red-500: #f04438;
  --color-red-600: #e13529;
  --color-red-700: #d92d20;
  --color-red-800: #b42318;
  --color-red-900: #912018;
  --color-orange-100: #fef0c7;
  --color-orange-200: #fde8a6;
  --color-orange-300: #fedf89;
  --color-orange-400: #fbbd36;
  --color-orange-500: #f79009;
  --color-orange-600: #d66d08;
  --color-orange-700: #b54708;
  --color-orange-800: #933706;
  --color-orange-900: #7a2e0e;
  --color-yellow-100: #fef8e7;
  --color-yellow-200: #fdf2d0;
  --color-yellow-300: #fec84b;
  --color-yellow-400: #fdbb3a;
  --color-yellow-500: #fdb022;
  --color-yellow-600: #e89403;
  --color-yellow-700: #dc6803;
  --color-yellow-800: #b54708;
  --color-yellow-900: #93370d;
  --color-lime-100: #f4fce7;
  --color-lime-200: #e2f9d0;
  --color-lime-300: #a6f48d;
  --color-lime-400: #94dc69;
  --color-lime-500: #84c441;
  --color-lime-600: #6fa931;
  --color-lime-700: #588a21;
  --color-lime-800: #477119;
  --color-lime-900: #395814;
  --color-green-100: #d1fadf;
  --color-green-200: #a1efc6;
  --color-green-300: #6ce9a6;
  --color-green-400: #3ddb8a;
  --color-green-500: #12b76a;
  --color-green-600: #0d9f5a;
  --color-green-700: #027a48;
  --color-green-800: #05653a;
  --color-green-900: #054f31;
  --color-turquoise-100: #ccf8fe;
  --color-turquoise-200: #99effc;
  --color-turquoise-300: #67e3f9;
  --color-turquoise-400: #34d7f5;
  --color-turquoise-500: #06aed4;
  --color-turquoise-600: #0790b0;
  --color-turquoise-700: #0e7090;
  --color-turquoise-800: #ccf8fe;
  --color-turquoise-900: #10405a;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #a9d7ff;
  --color-blue-300: #84caff;
  --color-blue-400: #53aeff;
  --color-blue-500: #2970ff;
  --color-blue-600: #215ad4;
  --color-blue-700: #1849a9;
  --color-blue-800: #173d8c;
  --color-blue-900: #173474;
  --color-purple-100: #e9d7fe;
  --color-purple-200: #d7c5fb;
  --color-purple-300: #c6b3f9;
  --color-purple-400: #b296f2;
  --color-purple-500: #9e77ed;
  --color-purple-600: #855ad9;
  --color-purple-700: #6941c6;
  --color-purple-800: #5535a1;
  --color-purple-900: #42307d;
  --color-alpha-black-5: rgba(0, 0, 0, 0.05);
  --color-alpha-black-10: rgba(0, 0, 0, 0.1);
  --color-alpha-black-20: rgba(0, 0, 0, 0.2);
  --color-alpha-black-30: rgba(0, 0, 0, 0.3);
  --color-alpha-black-40: rgba(0, 0, 0, 0.4);
  --color-alpha-black-50: rgba(0, 0, 0, 0.5);
  --color-alpha-black-60: rgba(0, 0, 0, 0.6);
  --color-alpha-black-70: rgba(0, 0, 0, 0.7);
  --color-alpha-black-80: rgba(0, 0, 0, 0.8);
  --color-alpha-black-90: rgba(0, 0, 0, 0.9);
  --color-alpha-white-5: rgba(255, 255, 255, 0.05);
  --color-alpha-white-10: rgba(255, 255, 255, 0.1);
  --color-alpha-white-20: rgba(255, 255, 255, 0.2);
  --color-alpha-white-30: rgba(255, 255, 255, 0.3);
  --color-alpha-white-40: rgba(255, 255, 255, 0.4);
  --color-alpha-white-50: rgba(255, 255, 255, 0.5);
  --color-alpha-white-60: rgba(255, 255, 255, 0.6);
  --color-alpha-white-70: rgba(255, 255, 255, 0.7);
  --color-alpha-white-80: rgba(255, 255, 255, 0.8);
  --color-alpha-white-90: rgba(255, 255, 255, 0.9);
  --color-alpha-primary-5: rgba(255, 255, 255, 0.05);
  --color-alpha-primary-10: rgba(33, 95, 255, 0.1);
  --color-alpha-primary-20: rgba(33, 95, 255, 0.2);
  --color-alpha-primary-30: rgba(33, 95, 255, 0.3);
  --color-alpha-primary-40: rgba(33, 95, 255, 0.4);
  --color-alpha-primary-50: rgba(33, 95, 255, 0.5);
  --color-alpha-primary-60: rgba(33, 95, 255, 0.6);
  --color-alpha-primary-70: rgba(33, 95, 255, 0.7);
  --color-alpha-primary-80: rgba(33, 95, 255, 0.8);
  --color-alpha-primary-90: rgba(33, 95, 255, 0.9);
  --typography-line-height-xxxs: 12px;
  --typography-line-height-xxs: 14px;
  --typography-line-height-xs: 16px;
  --typography-line-height-s: 20px;
  --typography-line-height-m: 24px;
  --typography-line-height-l: 24px;
  --typography-line-height-xl: 28px;
  --typography-line-height-xxl: 32px;
  --typography-line-height-xxxl: 36px;
  --typography-line-height-huge: 40px;
  --typography-line-height-xhuge: 56px;
  --typography-line-height-xxhuge: 64px;
  --typography-line-height-xxxhuge: 72px;
  --typography-line-height-150: 1.5px;
}

/* Mode: patient-dark */
.patient-dark {
  --color-neutral-100: #1a1a1a;
  --color-neutral-200: #383838;
  --color-neutral-300: #595959;
  --color-neutral-400: #767676;
  --color-neutral-500: #a8a8a8;
  --color-neutral-600: #d1d1d1;
  --color-neutral-700: #ededed;
  --color-neutral-800: #f5f5f5;
  --color-neutral-900: #ffffff;
  --color-primary-100: #271b7e;
  --color-primary-500: #6b5ce0;
  --color-primary-700: #e4e1fa;
  --color-danger-100: #b42318;
  --color-danger-500: #d92d20;
  --color-danger-700: #ffeaeb;
  --color-warning-100: #b54708;
  --color-warning-500: #f79009;
  --color-warning-700: #fffaeb;
  --color-success-100: #027a48;
  --color-success-500: #039855;
  --color-success-700: #ecfdf3;
  --color-info-100: #025582;
  --color-info-500: #026aa2;
  --color-info-700: #f0f9ff;
}

/* Mode: doctor-dark */
.doctor-dark {
  --color-neutral-100: #1a1a1a;
  --color-neutral-200: #383838;
  --color-neutral-300: #595959;
  --color-neutral-400: #767676;
  --color-neutral-500: #a8a8a8;
  --color-neutral-600: #d1d1d1;
  --color-neutral-700: #ededed;
  --color-neutral-800: #f5f5f5;
  --color-neutral-900: #ffffff;
  --color-primary-100: #b42318;
  --color-primary-500: #d92d20;
  --color-primary-700: #ffeaeb;
  --color-danger-100: #b42318;
  --color-danger-500: #d92d20;
  --color-danger-700: #ffeaeb;
  --color-warning-100: #b54708;
  --color-warning-500: #f79009;
  --color-warning-700: #fffaeb;
  --color-success-100: #027a48;
  --color-success-500: #039855;
  --color-success-700: #ecfdf3;
  --color-info-100: #025582;
  --color-info-500: #026aa2;
  --color-info-700: #f0f9ff;
}

/* semantic */
/* Mode: patient-light */
.patient-light {
  --color-background-surface-default: var(--color-neutral-100);
  --color-background-surface-subtle: var(--color-neutral-200);
  --color-background-surface-strong: var(--color-neutral-300);
  --color-background-surface-primary: var(--color-primary-500);
  --color-background-surface-primary-subtle: var(--color-primary-100);
  --color-background-surface-danger: var(--color-danger-500);
  --color-background-surface-danger-subtle: var(--color-danger-100);
  --color-background-surface-warning: var(--color-warning-500);
  --color-background-surface-warning-subtle: var(--color-warning-100);
  --color-background-surface-success: var(--color-success-500);
  --color-background-surface-success-subtle: var(--color-success-100);
  --color-background-surface-info: var(--color-info-500);
  --color-background-surface-info-subtle: var(--color-info-100);
  --color-foreground-heading: var(--color-neutral-900);
  --color-foreground-body: var(--color-neutral-700);
  --color-foreground-subtle: var(--color-neutral-500);
  --color-foreground-placeholder: var(--color-neutral-500);
  --color-foreground-on-primary: var(--color-neutral-100);
  --color-foreground-on-danger: var(--color-neutral-100);
  --color-foreground-primary: var(--color-primary-500);
  --color-foreground-danger: var(--color-danger-500);
  --color-foreground-success: var(--color-success-500);
  --color-foreground-warning: var(--color-warning-500);
  --color-foreground-info: var(--color-info-500);
  --color-border-default: var(--color-neutral-400);
  --color-border-subtle: var(--color-neutral-300);
  --color-border-primary: var(--color-primary-500);
  --color-border-danger: var(--color-danger-500);
  --color-border-focus: var(--color-primary-500);
  --color-link-default: var(--color-primary-700);
  --color-link-hover: var(--color-primary-500);
  --color-link-pressed: var(--color-primary-700);
  --color-link-disabled: var(--color-neutral-500);
  --color-focus-outline: var(--color-primary-700);
  --color-focus-border: var(--color-primary-500);
}

/* Mode: doctor-light */
.doctor-light {
  --color-background-surface-default: var(--color-neutral-100);
  --color-background-surface-subtle: var(--color-neutral-200);
  --color-background-surface-strong: var(--color-neutral-300);
  --color-background-primary-subtle: var(--color-primary-100);
  --color-background-primary-strong: var(--color-primary-300);
  --color-background-surface-overlay: var(--color-alpha-black-40);
  --color-background-surface-inverse: var(--color-neutral-900);
  --color-background-primary-default: var(--color-primary-500);
  --color-background-danger-subtle: var(--color-danger-100);
  --color-background-primary-hover: var(--color-primary-700);
  --color-background-danger-strong: var(--color-danger-100);
  --color-background-primary-pressed: var(--color-primary-800);
  --color-background-warning-subtle: var(--color-warning-100);
  --color-background-danger-default: var(--color-danger-500);
  --color-background-danger-hover: var(--color-danger-700);
  --color-background-warning-strong: var(--color-warning-300);
  --color-background-danger-pressed: var(--color-danger-900);
  --color-background-success-subtle: var(--color-success-100);
  --color-background-warning-default: var(--color-warning-500);
  --color-background-warning-hover: var(--color-warning-700);
  --color-background-success-strong: var(--color-success-300);
  --color-background-warning-pressed: var(--color-warning-900);
  --color-background-info-subtle: var(--color-info-100);
  --color-background-success-default: var(--color-success-500);
  --color-background-success-hover: var(--color-success-700);
  --color-background-info-strong: var(--color-info-300);
  --color-background-success-pressed: var(--color-success-900);
  --color-background-info-default: var(--color-info-500);
  --color-background-info-hover: var(--color-info-700);
  --color-background-info-pressed: var(--color-info-900);
  --color-foreground-neutrals-heading: var(--color-neutral-900);
  --color-foreground-neutrals-body: var(--color-neutral-700);
  --color-foreground-neutrals-subtle: var(--color-neutral-600);
  --color-foreground-primary-pressed: var(--color-primary-700);
  --color-foreground-primary-default: var(--color-primary-700);
  --color-foreground-primary-hover: var(--color-primary-500);
  --color-foreground-primary-on-primary: var(--color-neutral-100);
  --color-foreground-neutrals-placeholder: var(--color-neutral-500);
  --color-foreground-neutrals-inverse: var(--color-neutral-100);
  --color-foreground-danger-pressed: var(--color-danger-800);
  --color-foreground-danger-default: var(--color-danger-700);
  --color-foreground-danger-hover: var(--color-danger-500);
  --color-foreground-warning-pressed: var(--color-warning-800);
  --color-foreground-danger-on-danger: var(--color-neutral-100);
  --color-foreground-success-pressed: var(--color-success-800);
  --color-foreground-success-default: var(--color-success-700);
  --color-foreground-success-hover: var(--color-success-500);
  --color-foreground-success-on-success: var(--color-neutral-100);
  --color-foreground-warning-default: var(--color-warning-700);
  --color-foreground-info-pressed: var(--color-info-800);
  --color-foreground-warning-hover: var(--color-warning-500);
  --color-foreground-warning-on-warning: var(--color-neutral-100);
  --color-foreground-info-default: var(--color-info-700);
  --color-foreground-info-hover: var(--color-info-500);
  --color-foreground-info-on-info: var(--color-neutral-100);
  --color-border-neutrals-default: var(--color-neutral-400);
  --color-border-neutrals-subtle: var(--color-neutral-300);
  --color-border-neutrals-strong: var(--color-neutral-500);
  --color-border-primary-hover: var(--color-primary-300);
  --color-border-primary-default: var(--color-primary-500);
  --color-border-danger: var(--color-danger-500);
  --color-border-success: var(--color-foreground-success-default);
  --color-border-warning: var(--color-warning-500);
  --color-border-info: var(--color-info-500);
  --color-border-primary-ring: var(--color-primary-500);
  --color-border-primary-inset: var(--color-neutral-100);
  --typescale-display-1-font: var(--typography-font-body);
  --typescale-display-1-italics: var(--typography-weight-italics);
  --typescale-display-1-regular: var(--typography-weight-regular);
  --typescale-display-1-medium: var(--typography-weight-medium);
  --typescale-display-1-semibold: var(--typography-weight-semibold);
  --typescale-display-1-size: var(--typography-size-xxxhuge);
  --typescale-display-1-line-height: var(--typography-line-height-xxxhuge);
  --typescale-display-1-tracking: var(--typography-tracking-negative-l);
  --typescale-display-2-font: var(--typography-font-body);
  --typescale-display-2-italics: var(--typography-weight-italics);
  --typescale-display-2-regular: var(--typography-weight-regular);
  --typescale-display-2-medium: var(--typography-weight-medium);
  --typescale-display-2-semibold: var(--typography-weight-semibold);
  --typescale-display-2-size: var(--typography-size-xxhuge);
  --typescale-display-2-line-height: var(--typography-line-height-xxhuge);
  --typescale-display-2-tracking: var(--typography-tracking-negative-l);
  --typescale-display-3-font: var(--typography-font-body);
  --typescale-display-3-italics: var(--typography-weight-italics);
  --typescale-display-3-regular: var(--typography-weight-regular);
  --typescale-display-3-medium: var(--typography-weight-medium);
  --typescale-display-3-semibold: var(--typography-weight-semibold);
  --typescale-display-3-size: var(--typography-size-xhuge);
  --typescale-display-3-line-height: var(--typography-line-height-xhuge);
  --typescale-display-3-tracking: var(--typography-tracking-negative-l);
  --typescale-display-4-font: var(--typography-font-body);
  --typescale-display-4-italics: var(--typography-weight-italics);
  --typescale-display-4-regular: var(--typography-weight-regular);
  --typescale-display-4-medium: var(--typography-weight-medium);
  --typescale-display-4-semibold: var(--typography-weight-semibold);
  --typescale-display-4-size: var(--typography-size-huge);
  --typescale-display-4-line-height: var(--typography-line-height-huge);
  --typescale-display-4-tracking: var(--typography-tracking-negative-l);
  --typescale-headng-1-font: var(--typography-font-body);
  --typescale-headng-1-italics: var(--typography-weight-italics);
  --typescale-headng-1-regular: var(--typography-weight-regular);
  --typescale-headng-1-medium: var(--typography-weight-medium);
  --typescale-headng-1-semibold: var(--typography-weight-semibold);
  --typescale-headng-1-size: var(--typography-size-xxxl);
  --typescale-headng-1-line-height: var(--typography-line-height-xxxl);
  --typescale-headng-1-tracking: var(--typography-tracking-negative-l);
  --typescale-headng-2-font: var(--typography-font-body);
  --typescale-headng-2-italics: var(--typography-weight-italics);
  --typescale-headng-2-regular: var(--typography-weight-regular);
  --typescale-headng-2-medium: var(--typography-weight-medium);
  --typescale-headng-2-semibold: var(--typography-weight-semibold);
  --typescale-headng-2-size: var(--typography-size-xxl);
  --typescale-headng-2-line-height: var(--typography-line-height-xxl);
  --typescale-headng-2-tracking: var(--typography-tracking-negative-l);
  --typescale-headng-3-font: var(--typography-font-body);
  --typescale-headng-3-italics: var(--typography-weight-italics);
  --typescale-headng-3-regular: var(--typography-weight-regular);
  --typescale-headng-3-medium: var(--typography-weight-medium);
  --typescale-headng-3-semibold: var(--typography-weight-semibold);
  --typescale-headng-3-size: var(--typography-size-xl);
  --typescale-headng-3-line-height: var(--typography-line-height-xl);
  --typescale-headng-3-tracking: var(--typography-tracking-negative-l);
  --typescale-headng-4-font: var(--typography-font-body);
  --typescale-headng-4-italics: var(--typography-weight-italics);
  --typescale-headng-4-regular: var(--typography-weight-regular);
  --typescale-headng-4-medium: var(--typography-weight-medium);
  --typescale-headng-4-semibold: var(--typography-weight-semibold);
  --typescale-headng-4-size: var(--typography-size-l);
  --typescale-headng-4-line-height: var(--typography-line-height-l);
  --typescale-headng-4-tracking: var(--typography-tracking-negative-l);
  --typescale-body-1-font: var(--typography-font-body);
  --typescale-body-1-italics: var(--typography-weight-italics);
  --typescale-body-1-regular: var(--typography-weight-regular);
  --typescale-body-1-medium: var(--typography-weight-medium);
  --typescale-body-1-semibold: var(--typography-weight-semibold);
  --typescale-body-1-size: var(--typography-size-m);
  --typescale-body-1-line-height: var(--typography-line-height-m);
  --typescale-body-1-tracking: var(--typography-tracking-negative-l);
  --typescale-body-2-font: var(--typography-font-body);
  --typescale-body-2-italics: var(--typography-weight-italics);
  --typescale-body-2-regular: var(--typography-weight-regular);
  --typescale-body-2-medium: var(--typography-weight-medium);
  --typescale-body-2-semibold: var(--typography-weight-semibold);
  --typescale-body-2-size: var(--typography-size-s);
  --typescale-body-2-line-height: var(--typography-line-height-s);
  --typescale-body-2-tracking: var(--typography-tracking-negative-l);
  --typescale-body-3-font: var(--typography-font-body);
  --typescale-body-3-italics: var(--typography-weight-italics);
  --typescale-body-3-regular: var(--typography-weight-regular);
  --typescale-body-3-medium: var(--typography-weight-medium);
  --typescale-body-3-semibold: var(--typography-weight-semibold);
  --typescale-body-3-size: var(--typography-size-xs);
  --typescale-body-3-line-height: var(--typography-line-height-xs);
  --typescale-body-3-tracking: var(--typography-tracking-negative-l);
  --typescale-label-1-font: var(--typography-font-body);
  --typescale-label-1-italics: var(--typography-weight-italics);
  --typescale-label-1-regular: var(--typography-weight-regular);
  --typescale-label-1-medium: var(--typography-weight-medium);
  --typescale-label-1-semibold: var(--typography-weight-semibold);
  --typescale-label-1-size: var(--typography-size-xxs);
  --typescale-label-1-line-height: var(--typography-line-height-xxs);
  --typescale-label-1-tracking: var(--typography-tracking-negative-l);
  --typescale-label-2-font: var(--typography-font-body);
  --typescale-label-2-italics: var(--typography-weight-italics);
  --typescale-label-2-regular: var(--typography-weight-regular);
  --typescale-label-2-medium: var(--typography-weight-medium);
  --typescale-label-2-semibold: var(--typography-weight-semibold);
  --typescale-label-2-size: var(--typography-size-xxxs);
  --typescale-label-2-line-height: var(--typography-line-height-xxxs);
  --typescale-label-2-tracking: var(--typography-tracking-negative-l);
  --padding-xxxs: var(--spacing-xxxs);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-s: var(--spacing-s);
  --padding-m: var(--spacing-m);
  --padding-l: var(--spacing-l);
  --padding-xl: var(--spacing-xl);
  --padding-xxl: var(--spacing-xxl);
  --padding-xxxl: var(--spacing-xxxl);
  --padding-huge: var(--spacing-huge);
  --padding-xhuge: var(--spacing-xhuge);
  --padding-xxhuge: var(--spacing-xxhuge);
  --padding-xxxhuge: var(--spacing-xxxhuge);
  --gaps-xxxs: var(--spacing-xxxs);
  --gaps-xxs: var(--spacing-xxs);
  --gaps-xs: var(--spacing-xs);
  --gaps-s: var(--spacing-s);
  --gaps-m: var(--spacing-m);
  --gaps-l: var(--spacing-l);
  --gaps-xl: var(--spacing-xl);
  --gaps-xxl: var(--spacing-xxl);
  --gaps-xxxl: var(--spacing-xxxl);
  --gaps-huge: var(--spacing-huge);
  --gaps-xhuge: var(--spacing-xhuge);
  --gaps-xxhuge: var(--spacing-xxhuge);
  --gaps-xxxhuge: var(--spacing-xxxhuge);
}

/* Mode: patient-dark */
.patient-dark {
  --color-background-surface-default: var(--color-neutral-100);
  --color-background-surface-subtle: var(--color-neutral-200);
  --color-background-surface-strong: var(--color-neutral-300);
  --color-background-surface-primary: var(--color-primary-500);
  --color-background-surface-primary-subtle: var(--color-primary-100);
  --color-background-surface-danger: var(--color-danger-500);
  --color-background-surface-danger-subtle: var(--color-danger-100);
  --color-background-surface-warning: var(--color-warning-500);
  --color-background-surface-warning-subtle: var(--color-warning-100);
  --color-background-surface-success: var(--color-success-500);
  --color-background-surface-success-subtle: var(--color-success-100);
  --color-background-surface-info: var(--color-info-500);
  --color-background-surface-info-subtle: var(--color-info-100);
  --color-foreground-heading: var(--color-neutral-900);
  --color-foreground-body: var(--color-neutral-700);
  --color-foreground-subtle: var(--color-neutral-500);
  --color-foreground-placeholder: var(--color-neutral-500);
  --color-foreground-on-primary: var(--color-neutral-100);
  --color-foreground-on-danger: var(--color-neutral-100);
  --color-foreground-primary: var(--color-primary-500);
  --color-foreground-danger: var(--color-danger-500);
  --color-foreground-success: var(--color-success-500);
  --color-foreground-warning: var(--color-warning-500);
  --color-foreground-info: var(--color-info-500);
  --color-border-default: var(--color-neutral-400);
  --color-border-subtle: var(--color-neutral-300);
  --color-border-primary: var(--color-primary-500);
  --color-border-danger: var(--color-danger-500);
  --color-border-focus: var(--color-primary-500);
  --color-link-default: var(--color-primary-700);
  --color-link-hover: var(--color-primary-500);
  --color-link-pressed: var(--color-primary-700);
  --color-link-disabled: var(--color-neutral-500);
  --color-focus-outline: var(--color-primary-700);
  --color-focus-border: var(--color-primary-500);
}

/* Mode: doctor-dark */
.doctor-dark {
  --color-background-surface-default: var(--color-neutral-100);
  --color-background-surface-subtle: var(--color-neutral-200);
  --color-background-surface-strong: var(--color-neutral-300);
  --color-background-surface-primary: var(--color-primary-500);
  --color-background-surface-primary-subtle: var(--color-primary-100);
  --color-background-surface-danger: var(--color-danger-500);
  --color-background-surface-danger-subtle: var(--color-danger-100);
  --color-background-surface-warning: var(--color-warning-500);
  --color-background-surface-warning-subtle: var(--color-warning-100);
  --color-background-surface-success: var(--color-success-500);
  --color-background-surface-success-subtle: var(--color-success-100);
  --color-background-surface-info: var(--color-info-500);
  --color-background-surface-info-subtle: var(--color-info-100);
  --color-foreground-heading: var(--color-neutral-900);
  --color-foreground-body: var(--color-neutral-700);
  --color-foreground-subtle: var(--color-neutral-500);
  --color-foreground-placeholder: var(--color-neutral-500);
  --color-foreground-on-primary: var(--color-neutral-100);
  --color-foreground-on-danger: var(--color-neutral-100);
  --color-foreground-primary: var(--color-primary-500);
  --color-foreground-danger: var(--color-danger-500);
  --color-foreground-success: var(--color-success-500);
  --color-foreground-warning: var(--color-warning-500);
  --color-foreground-info: var(--color-info-500);
  --color-border-default: var(--color-neutral-400);
  --color-border-subtle: var(--color-neutral-300);
  --color-border-primary: var(--color-primary-500);
  --color-border-danger: var(--color-danger-500);
  --color-border-focus: var(--color-primary-500);
  --color-link-default: var(--color-primary-700);
  --color-link-hover: var(--color-primary-500);
  --color-link-pressed: var(--color-primary-700);
  --color-link-disabled: var(--color-neutral-500);
  --color-focus-outline: var(--color-primary-700);
  --color-focus-border: var(--color-primary-500);
}

/* component */
/* Mode: Value */
.value {
  --button-primary-text: var(--color-foreground-primary-on-primary);
  --button-primary-background: var(--color-background-surface-primary);
  --button-primary-border: var(--color-border-primary);
  --button-primary-hover-background: var(--color-background-surface-primary-subtle);
  --button-primary-hover-border: var(--color-border-primary);
  --button-primary-active-background: var(--color-background-surface-primary);
  --button-primary-active-border: var(--color-border-primary);
  --button-primary-disabled-background: var(--color-background-surface-subtle);
  --button-primary-disabled-border: var(--color-border-subtle);
  --button-primary-disabled-text: var(--color-foreground-subtle);
  --button-secondary-text: var(--color-foreground-primary);
  --button-secondary-background: var(--color-background-surface-default);
  --button-secondary-border: var(--color-border-default);
  --button-secondary-hover-background: var(--color-background-surface-subtle);
  --button-secondary-hover-border: var(--color-border-default);
  --button-secondary-active-background: var(--color-background-surface-strong);
  --button-secondary-active-border: var(--color-border-default);
  --button-secondary-disabled-background: var(--color-background-surface-subtle);
  --button-secondary-disabled-border: var(--color-border-subtle);
  --button-secondary-disabled-text: var(--color-foreground-subtle);
  --button-danger-text: var(--color-foreground-on-danger);
  --button-danger-background: var(--color-background-surface-danger);
  --button-danger-border: var(--color-border-danger);
  --button-danger-hover-background: var(--color-background-surface-danger-subtle);
  --button-danger-hover-border: var(--color-border-danger);
  --button-danger-active-background: var(--color-background-surface-danger);
  --button-danger-active-border: var(--color-border-danger);
  --button-danger-disabled-background: var(--color-background-surface-subtle);
  --button-danger-disabled-border: var(--color-border-subtle);
  --button-danger-disabled-text: var(--color-foreground-subtle);
  --input-background: var(--color-background-surface-default);
  --input-border: var(--color-border-default);
  --input-text: var(--color-foreground-body);
  --input-placeholder: var(--color-foreground-placeholder);
  --input-focus-border: var(--color-border-focus);
  --input-disabled-background: var(--color-background-surface-subtle);
  --input-disabled-border: var(--color-border-subtle);
  --input-disabled-text: var(--color-foreground-subtle);
  --card-background: var(--color-background-surface-default);
  --card-border: var(--color-border-subtle);
  --card-text: var(--color-foreground-body);
  --card-heading: var(--color-foreground-heading);
  --alert-info-background: var(--color-background-surface-info-subtle);
  --alert-info-border: var(--color-border-default);
  --alert-info-text: var(--color-foreground-info);
  --alert-success-background: var(--color-background-surface-success-subtle);
  --alert-success-border: var(--color-border-default);
  --alert-success-text: var(--color-foreground-success);
  --alert-warning-background: var(--color-background-surface-warning-subtle);
  --alert-warning-border: var(--color-border-default);
  --alert-warning-text: var(--color-foreground-warning);
  --alert-danger-background: var(--color-background-surface-danger-subtle);
  --alert-danger-border: var(--color-border-default);
  --alert-danger-text: var(--color-foreground-danger);
}
